body {
	background-color: black;
	text-align: center;
	font-family: "Verdana", sans-serif;
	color: white;
	display: flex;
	flex-direction: column; /* Stack elements vertically */
	justify-content: space-evenly; /* Distribute space evenly */
	align-items: center; /* Center elements horizontally */
	min-height: 100vh; /* Ensure body takes up full viewport height */
	padding: 0 10px; /* Add space on the sides to prevent content from touching edges */
  }
  
  h1, h2, p, a {
	margin: 10px 0; /* Add vertical spacing between elements */
  }
  
  .cta {
	color: aquamarine;
	font-size: 16px;
  }
  
  h1 {
	font-size: 50px;
	font-weight: normal;
  }
  
  h2 {
	font-size: 42px;
	font-weight: 300;
  }
  
  p {
	font-size: 21px;
	color: gray;
  }
  
  .footer {
	text-align: right;
	margin-top: 20px;
  }
  